body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Lucida Console"
}

.nav-bar {
    width: 100%;
    height: 40px;
    background-color: darkcyan;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

li {
    display: inline-flex;
    width: 100px;
    height: 40px;
    vertical-align: middle;
    margin: 10px 10px;
}
  
li a {
    margin: 0;
    color: whitesmoke;
    text-decoration: none;
}

.container {
    width: 100%;
    height: 90%;
    margin: 30px 10px;
}

table {
    width: 60%;
    border: 1px solid #000;
    border-spacing: 0;
 }

th{
   color: rgb(12, 40, 131);
}

td, tr, th{
   width: 60px;
   text-align: center;
   vertical-align: top;
   padding: 8px;
   border: none;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}