body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Lucida Console"
}

.nav-bar {
    width: 100%;
    height: 40px;
    background-color: darkcyan;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

li {
    display: inline-flex;
    width: 130px;
    height: 40px;
    vertical-align: middle;
    margin: 10px 10px;
    text-align: center;
}
  
li a {
    margin: 0;
    color: whitesmoke;
    text-decoration: none;
}

.container-form {
    width: 300px;
    height: 270px;
    margin: 30px 500px;
}

.container-table {
    width: 750px;
    height: 270px;
    margin: 30px 300px;
}

.input-data {
    width: 300px;
    height: 20px;   
}

.button-save {
    width: 50px;
    height: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

table {
    width: 750px;
    border: 1px solid #000;
    border-spacing: 0;
 }

th{
   color: rgb(12, 40, 131);
}

td, tr, th{
   width: 60px;
   text-align: center;
   vertical-align: top;
   padding: 8px;
   border: none;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}